body {
  background-color: #212121;
}
h1,
a,
p,
label,
.nav-link {
  color: white;
}
header {
  background-color: #2f2f2f;
}

.bg-card {
  background-color: #303030;
  transition: 100ms ease-in-out;
  &:hover {
    transform: scale(0.97);
  }
}

a:hover {
  background-color: #3030308e;
  color: rgb(160, 160, 160) !important;
  border-radius: 300px;
  transition: 400ms ease-in-out;
}

#back-form {
  background-color: #3030308e;
}

#clean,
#delete,
#post {
  background-color: #303030;
  color: white;
  transition: 200ms ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

#delete:hover {
  background-color: red;
  transition: 500ms ease;
}

input {
  background-color: rgba(255, 255, 255, 0.534);
  border: none;
  outline: none;
  transition: 500ms;
}

input:focus {
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 90vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 0;
  pointer-events: none;
}

.line {
  position: relative;
  width: 1px;
  height: 100%;
  overflow: hidden;
}

.line::after {
  content: "";
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -20%;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
  animation: drop 7s linear infinite;
}

.line:nth-child(1)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ff4500);
  animation-delay: 0.5s;
}
.line:nth-child(2)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #32cd32);
  animation-delay: 1s;
}
.line:nth-child(3)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #1e90ff);
  animation-delay: 4s;
}
.line:nth-child(4)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffd700);
  animation-delay: 10s;
}
.line:nth-child(5)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #8a2be2);
  animation-delay: 7s;
}
.line:nth-child(6)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #20b2aa);
  animation-delay: 2s;
}
.line:nth-child(7)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #dc143c);
  animation-delay: 15s;
}
.line:nth-child(8)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #00fa9a);
  animation-delay: 3s;
}
.line:nth-child(9)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ff1493);
  animation-delay: 4s;
}
.line:nth-child(10)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #00bfff);
  animation-delay: 5.5s;
}

@keyframes drop {
  0% {
    top: -20%;
  }
  100% {
    top: 120%;
  }
}
