body {
  background-color: #212121;
}
h1,
a,
p,
label,
.nav-link {
  color: white;
}

.bg-card {
  background-color: #303030;
  transition: 100ms ease-in-out;
  &:hover {
    transform: scale(0.97);
  }
}

a:hover {
  background-color: #3030308e;
  color: rgb(160, 160, 160) !important;
  border-radius: 300px;
  transition: 400ms ease-in-out;
}

#back-form {
  background-color: #3030308e;
}

#clean,
#delete,
#post {
  background-color: #303030;
  color: white;
  transition: 200ms ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

#delete:hover {
  background-color: red;
  transition: 500ms ease;
}

input {
  background-color: rgba(255, 255, 255, 0.534);
  border: none;
  outline: none;
  transition: 500ms;
}

input:focus {
  border-radius: 10px;
}

