@keyframes fade {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

body {
  background-color: #212121;
}
h1,
a,
.nav-link {
  color: white;
}

.bg-card {
  background-color: #303030;
  animation: fade 200ms ease-in;
  transition: 200ms ease-in-out;
  &:hover {
    transform: scale(0.97);
  }
}

a:hover {
  background-color: #3030308e;
  color: rgb(160, 160, 160) !important;
  border-radius: 300px;
  transition: 400ms ease-in-out;
}

button {
  background-color: transparent !important;
}
